.about{
    background-image: url(../img/puntosabout.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size:88vw;
  
   
}
.textoabout{
    margin-top: 2rem;
}
.ctnAbouview{
    margin-top: 10rem;

}
.retratoAbout{
    width: 15vw;
  
}
.boot, .uni{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1em;
    line-height: 19.5px;
}
.fecha{
    font-family: Montserrat;
    font-weight: 400;
    font-style: italic;
    font-size: 0.8em;
    line-height: 17.5px;
}
.fe, .dip,.artes{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1.7em; 
}

.ctnEdu{
    margin-top: 5rem;
    text-align: left;
}

.UnPoco, .mot, .edu, .habilidades, .blandas, .herr{
    font-size: 1.7em;
    font-family: Merriweather;
    color: #595959;
    font-weight: 400;
    line-height: 0px;
}

.habilidades{
    margin-top: -0.7rem;
}
.tagHabilidades, .hblandas{
    font-family:Montserrat;
    font-weight: 600;
    font-size: 1em;
    line-height: 26px;
    color:rgba(51, 51, 51, 1);
    margin-top: 3rem;
}
.miNombre, .disfruto{
    font-family:Montserrat;
    font-weight: 400;
    line-height: 30px;
    font-size: 1.1em;
    margin-top: 2rem;
}
.photoshop, .ai, .figma, .Boost, .gitHubb, .inVision{
    font-family:Montserrat;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 26px;
}

.herr{
    margin-top: 5rem;
}

.photoshop{
    margin-top: 3rem;

}
.medeclaro, .siBien{
    font-family:Montserrat;
    font-weight: 400;
    text-align: left;
    line-height: 35px;
    font-size: 1.1em;
}

.ctnAbout{
    background: #FFFFFF;
    box-shadow: 3px -7px 26px -1px rgba(43, 43, 43, 0.3);
border-radius: 10px;

padding-top: 3rem;
padding-bottom: 1rem;
width: 88vw;
margin-top: 3rem;

}
.boot{
    margin-top: 3rem;

}

.blandas{
    margin-top: 8.5rem;
}


@media (min-width: 375px) and (max-width:768px){
    .UnPoco{
        font-size: 1.3em;
        
    }

    .retratoAbout{
        width: 57vw;
        
    }   
    
    .textoabout{
        margin-top: 2rem;
        margin-right: 1rem;
    }

   

    .about{
        background-image: none;
    }

    .mot, .edu, .habilidades, .blandas, .herr{
        font-size: 1.3em;
    }

    .medeclaro{
        margin-top: 1rem;
    }

    .habilidades {
        margin-top: 2rem;
    }

    .boot, .uni, .fecha{
        font-size: 0.8em;
    }
    .fe, .dip,.artes{
        font-size: 1.2em;
    }

    .ctnEdu{
        margin-top: 4rem;
    
    
    }

    .boot, .tagHabilidades{

        margin-top: 2rem;
    }

    .tagHabilidades{

    }

    .photoshop, .ai, .figma, .Boost, .gitHubb, .inVision{
       font-size: 1.1em;
    }

}
