.ctnJapan {
    margin-top: 9rem;
    overflow: hidden;
}
.ctnExpJapan, .ctnElProblema, .contprocesos{
    /*margin-top: 4rem;
    margin-top: 4rem;
    width: 92vw;
    margin-left: 6rem;
    overflow: hidden;*/
    margin-top: 3rem;
    overflow: hidden;
}
.textContJapan{
    text-align: justify;
    margin-top: 5rem;
    overflow: hidden;
}
.segun{
    margin-top: 1rem;
}

.textJapan, .experienciaJapan, .elProblema, .procesos, .textSolucion, .resultado{
    font-size: 2em;
    font-family: Merriweather;
    font-weight: 400;
    color:rgba(89, 89, 89, 1);
    text-align: justify;
    overflow: hidden;
    margin-top: 1rem;
}

.que, .puedes{
    font-size: 2em;
    font-family: Merriweather;
    font-weight: 400;
    color:rgba(89, 89, 89, 1);
}

.puedes{
    margin-top: 3rem;  
}
.ctnresult{
    margin-top: 3rem;
}
.resultado{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.japanEs, .ux, .julio, .uxR, .proto, .ui, .comoToda, .desdeAqui, .aAlgunos, .cambian, .quien, .cliente, .textoProcesos, .textopro, .mesero, .chef, .segun, .textQue{
    font-family: Montserrat;
    font-weight: 400;
  font-size: 1.2em;
    line-height: 34px;
   text-align: justify;
  
}

.textQue{
    margin-top: 1.5rem;

}
.carousel-indicators{
    display: none;
}

.carousel-item {
    margin-top: 1rem;
}
.aAlgunos{
    text-align: left;
}
.quien{
    margin-top: 4.8rem;
    overflow: hidden;

}
.ctnElP, .ctnresult{
    background: #FFFFFF;
    box-shadow: 3px -7px 26px -1px rgba(43, 43, 43, 0.3);
border-radius: 10px;

padding-top: 2rem;
padding-bottom: 1rem;
}

.desdeAqui{
    margin-top: 4.8rem;
    overflow: hidden;
}
.japanEs{
    margin-top: 1.5rem;
    overflow: hidden;
}

.tagsJapan{
    margin-top: 1.2rem;
   
}

/*.uxR {
    background: rgba(255, 150, 126, 1);
    width: 10vw;
    border-radius: 25px;
    height: 5vh;
    text-align: center;
}

.proto{
    background: rgba(254, 214, 123, 0.9);
    width: 10vw;
    border-radius: 25px;
    height: 5vh;
    text-align: center;
}

.ui{
    background: rgba(235, 135, 147, 1);
    width: 10vw;
    border-radius: 25px;
    height: 5vh;
    text-align: center;   
}*/
.cardeck{
    margin-bottom: 5rem;
}
.rolText{
    font-family: Montserrat;
    font-weight: 700;
    line-height: 17px;
    font-size: 1.5em;
    color: #000;
    overflow: hidden;
}
.japanQueen{
    margin-left: 3rem;
    margin-top: 4rem;
    overflow: hidden;
}
.humans{
    margin-left: 5rem;
}

@media (min-width: 375px) and (max-width:768px) {
    .humans{
        width: 66vw;
    margin-left: 0rem;
    margin-top: 1rem;

    }
    .desdeAqui{
        margin-top: 0rem;
    }
   
    .japanQueen{
        margin-left: 1rem;
        margin-top: 0rem;
    }
   .ctnJapan{
    margin-top: 9rem;
   }

   .ctnExpJapan, .ctnElProblema{
    margin-left: 0rem;
    margin-top: 0rem;
}

   .textJapan, .experienciaJapan, .elProblema, .textSolucion{
           text-align: center;
    font-size: 1.3em;
    margin-left: 1rem;
    margin-top: 1rem;
    
}
.que, .puedes{
    font-size: 1.3em;
}
.cardeck{
    margin-bottom: 0rem;
}
.procesos, .resultado{
    text-align: center;
    font-size: 1.3em;
    margin-left: 6.5rem;
    margin-top: 0rem;
}
.resultado{
    margin-top: 1rem;
}
.textSolucion{
    margin-top: 3rem;
    margin-left: 3rem;
}
.jp{
    width: 78vw;
    margin-left: 0.8rem;
}
.elProblema{
    margin-left: 0rem;
    margin-top: 0rem;
}
.quien{
    margin-top: 0rem;
}
.textoProcesos, .segun{
    text-align: left;
    margin-top: 1rem;

}

.textopro, .mesero, .chef, .textQue{
    text-align: left;
}
.experienciaJapan{
  
    margin-left: 0rem;
}
.textContJapan{
    
    margin-top: 1rem;
}

.japanEs, .comoToda, .desdeAqui, .aAlgunos, .cambian, .quien, .cliente{
font-size: 1.1em;
text-align: left;
}


.rolText{
    font-size: 1.2em;
}

.ux, .julio, .uxR, .proto, .ui{
    font-size: 1.1em; 
}
.uxR, .proto, .ui{
    width: 34vw;
    height: 6vh;
}
}