.ctnJapan {
    margin-top: 9rem;
    overflow: hidden;
}
.ctnExpJapan, .ctnElProblema, .contprocesos{
    /*margin-top: 4rem;
    margin-top: 4rem;
    width: 92vw;
    margin-left: 6rem;
    overflow: hidden;*/
    margin-top: 3rem;
    overflow: hidden;
}
.textContJapan{
    text-align: justify;
    margin-top: 5rem;
    overflow: hidden;
}
.segun{
    margin-top: 1rem;
}

.textJapan, .experienciaJapan, .elProblema, .procesos, .textSolucion, .resultado, .textSoluciongav{
    font-size: 2em;
    font-family: Merriweather;
    font-weight: 400;
    color:rgba(89, 89, 89, 1);
    text-align: justify;
    overflow: hidden;
    margin-top: 1rem;
}
.gav{
    margin-top: 5.1rem;
}
.textSoluciongav{
    margin-top: 2rem;

}
.que, .puedes{
    font-size: 2em;
    font-family: Merriweather;
    font-weight: 400;
    color:rgba(89, 89, 89, 1);
}

.puedes{
    margin-top: 3rem;  
}
.ctnresult{
    margin-top: 3rem;
}
.resultado{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.japanEs, .ux,.fe,  .fed,.julio, .uxR, .proto, .ui, .comoToda,.cadaseccion, .entreestos, .desdeAqui, .aAlgunos, .cambian, .quien, .cliente,.gav, .textoProcesos,.pormedio, .textopro, .mesero, .chef, .segun, .deque, .textQue, .porotro, .textoProcesosgav,.eldesafio, .procesosUni, .hallazgos{
    font-family: Montserrat;
    font-weight: 400;
  font-size: 1.2em;
    line-height: 34px;
   text-align: justify;
  
}
.humansdos{
    margin-top: 8rem;
    margin-left: 7rem;
}
.deque{
    margin-top: 3rem;
}
.entreestos{
    margin-top: 1.5rem;
}

.textQue{
    margin-top: 1.5rem;

}
.carousel-indicators{
    display: none;
}

.carousel-item {
    margin-top: 1rem;
}
.aAlgunos{
    text-align: left;
}
.quien{
    margin-top: 4.8rem;
    overflow: hidden;

}
.ctnElP, .ctnresult{
    background: #FFFFFF;
    box-shadow: 3px -7px 26px -1px rgba(43, 43, 43, 0.3);
border-radius: 10px;

padding-top: 2rem;
padding-bottom: 1rem;
}

.desdeAqui{
    margin-top: 4.8rem;
    overflow: hidden;
}
.japanEs, .proy{
    margin-top: 1.5rem;
    overflow: hidden;
}

.tagsJapan{
    margin-top: 1.2rem;
   
}
.gam{
    margin-left: 3rem;
    margin-top: 11rem;
    width: 37vw;
}

.porotro{
    margin-top: 1rem;
}
.textoProcesosgav{
    margin-top: 1rem;
}

.gv{
    margin-right: 5rem;
}
.cardeck{
    margin-bottom: 5rem;
}
.rolText{
    font-family: Montserrat;
    font-weight: 700;
    line-height: 17px;
    font-size: 1.5em;
    color: #000;
    overflow: hidden;
}
.japanQueen{
    margin-left: 3rem;
    margin-top: 4rem;
    overflow: hidden;
}

@media (min-width: 320px) and (max-width:374px){
    .humans{
        width: 66vw;
    margin-left: 0rem;
    margin-top: 1rem;

    }

    .fed{
        display: none;
    }
    .desdeAqui{
        margin-top: 0rem;
    }
   
    .japanQueen{
        margin-left: 1rem;
        margin-top: 0rem;
    }
   .ctnJapan{
    margin-top: 9rem;
   }

   .ctnExpJapan, .ctnElProblema{
    margin-left: 0rem;
    margin-top: 0rem;
}

   .textJapan, .experienciaJapan, .elProblema, .textSolucion, .textSoluciongav{
           text-align: center;
           font-size: 1.2em;
    margin-left: 1rem;
    margin-top: 1rem;
    
}
.gv{
    width: 92vw;
    overflow: hidden;
}
.textSoluciongav{
    margin-left: 2.5rem;
    font-size: 1em;
}


.que, .puedes{
    font-size: 1.3em;
}
.cardeck{
    margin-bottom: 0rem;
}
.procesos, .resultado{
    text-align: center;
    font-size: 1.3em;
    margin-left: 6.5rem;
    margin-top: 0rem;
}
.resultado{
    margin-top: 1rem;
    margin-left: 5rem;
}
.textSolucion{
    margin-top: 3rem;
    margin-left: 3rem;
}
.jp{
    width: 78vw;
    margin-left: 0.8rem;
}
.elProblema{
    margin-left: 0rem;
    margin-top: 0rem;
}
.quien{
    margin-top: 0rem;
}
.textoProcesos, .segun, .textoProcesosgav, .eldesafio {
    text-align: left;
    margin-top: 1rem;

}
.textoProcesosgav, .eldesafio, .textopro, .mesero{
    font-size: 1.1em;
}

.textopro, .mesero, .chef{
    text-align: left;
}
.experienciaJapan{
  
    margin-left: 0rem;
    margin-top: 0rem;
    font-size: 1.1em;
}
.textContJapan{
    
    margin-top: 1rem;
}
.procesos{
    margin-left: 5.5rem;
}

.japanEs,.proy, .deque,.procesosUni, .comoToda,.textoProcesos,.chef,.segun, .desdeAqui, .aAlgunos, .cambian,.gav, .quien, .cliente, .entreestos, .porotro, .cadaseccion, .textQue {
font-size: 1.1em;
text-align: left;
}
.deque{
    margin-top: 0rem;
}
.humansdos {
        
        margin-left: 0rem;
        width: 76vw;
        margin-top: 1rem;
}
.rolText{
   display: none;
}

.ux, .julio, .uxR, .proto, .ui{
    display: none;
}

.gav{
    margin-top: 0rem;
}
.gam {
    margin-left: 0rem;
    margin-top: 0rem;
    width: 67vw;
    overflow: hidden;
}
}
@media (min-width: 375px) and (max-width:768px) {
    .humans{
        width: 66vw;
    margin-left: 0rem;
    margin-top: 1rem;

    }
    .desdeAqui{
        margin-top: 0rem;
    }
   
    .japanQueen{
        margin-left: 1rem;
        margin-top: 0rem;
    }
   .ctnJapan{
    margin-top: 9rem;
   }

   .ctnExpJapan, .ctnElProblema{
    margin-left: 0rem;
    margin-top: 0rem;
}

   .textJapan, .experienciaJapan, .elProblema, .textSolucion, .textSoluciongav{
           text-align: center;
    font-size: 1.3em;
    margin-left: 1rem;
    margin-top: 1rem;
    
}
.gv{
    width: 92vw;
    overflow: hidden;
}
.textSoluciongav{
    margin-left: 3rem;
}
.que, .puedes{
    font-size: 1.3em;
}
.cardeck{
    margin-bottom: 0rem;
}
.procesos, .resultado{
    text-align: center;
    font-size: 1.3em;
    margin-left: 6.5rem;
    margin-top: 0rem;
}
.resultado{
    margin-top: 1rem;
}
.textSolucion{
    margin-top: 3rem;
    margin-left: 3rem;
}
.jp{
    width: 78vw;
    margin-left: 0.8rem;
}
.elProblema{
    margin-left: 0rem;
    margin-top: 0rem;
}
.quien{
    margin-top: 0rem;
}
.textoProcesos, .segun, .textoProcesosgav, .eldesafio {
    text-align: left;
    margin-top: 1rem;

}
.textoProcesosgav, .eldesafio, .textopro, .mesero{
    font-size: 1.1em;
}

.textopro, .mesero, .chef{
    text-align: left;
}
.experienciaJapan{
  
    margin-left: 0rem;
}
.textContJapan{
    
    margin-top: 1rem;
}

.japanEs,.proy, .deque,.procesosUni, .comoToda,.textoProcesos,.chef,.segun, .desdeAqui, .aAlgunos, .cambian,.gav, .quien, .cliente, .entreestos, .porotro, .cadaseccion, .textQue {
font-size: 1.1em;
text-align: left;
}
.deque{
    margin-top: 0rem;
}
.humansdos {
        
        margin-left: 0rem;
        width: 76vw;
        margin-top: 1rem;
}
.rolText{
    font-size: 1.2em;
}

.ux, .julio, .uxR, .proto, .ui{
    font-size: 1.1em; 
}
.uxR, .proto, .ui{
    width: 34vw;
    height: 6vh;
}
.gav{
    margin-top: 0rem;
}
.gam {
    margin-left: 0rem;
    margin-top: 0rem;
    width: 67vw;
    overflow: hidden;
}
}

@media (min-width:768px) and (max-width:1023px) {
 .textJapan{
        margin-left: 0rem;
    
    text-align: left;
    }
.fed{
    display: none;
}
   .rolText, .uxR, .ux, .tagsJapan, .julio{
       display: none;
   }
   .contGav{
    margin-left: 2rem;
}
   .desdeAqui{
    margin-top: 4rem;
   }
   .gam{
    width: 43vw;
    margin-top: 24rem;
   }

   .humansdos{
    width: 43vw;
    margin-top: 22rem;
   }
   .contJA{
    margin-left: 3rem;
   }
   .textSoluciongav{
    margin-left: 0rem;
   }
   .japanQueen{
    margin-top: 2rem;
   }
.gv{
    width: 50vw;
    margin-left: 3rem;
}
   .experienciaJapan{
    margin-left: -1rem;
   }

   .ctnElP{
    margin-top: 2rem;
   }

   .elProblema{
    font-size: 1.2em;
   }

   .quien{
    margin-top: 3rem;
   }
   .procesos{
    text-align: left;
    margin-left: 0rem;
}

.humans{
    width: 42vw;
    margin-top: 5rem;
}

.textSolucion{
    text-align: left;
    margin-left: 0rem;

}

.resultado{
    text-align: left;
    margin-left: 0rem;
}

.jp{
    width: 50vw;
}
}

@media (min-width:1024px) and (max-width:1439px) {
    .japanQueen{
        margin-left: 1rem;

    width: 29vw;
    }

    .proto{
        margin-left: 8rem;
        margin-top: -3rem;
    }

    .experienciaJapan{
        text-align: left;
        font-size: 1.5em;
    }

    .desdeAqui{
        margin-top: 4.2rem;
    }
.gv{
    width: 50vw;
}
.cliente{
    margin-top: 8rem;
}
.humansdos{
    width: 32vw;
    margin-top: 16rem;

}
.fed{
    display: none;
}
    .rolText, .julio, .ux, .tagsJapan{
       display: none;
    }

    .elProblema{
        font-size: 1.5em;
    }
 .quien{
    margin-top: 4rem;

 }

 .textSolucion{
     margin-top: 2rem;
 }
}