.ctnJapan {
    margin-top: 9rem;
    overflow: hidden;
}
.ctnExpJapan, .ctnElProblema{
    /*margin-top: 4rem;
    margin-top: 4rem;
    width: 92vw;
    margin-left: 6rem;
    overflow: hidden;*/
    margin-top: 3rem;

}
.textContJapan{
    text-align: justify;
    margin-top: 5rem;
    overflow: hidden;
}

.textJapan, .experienciaJapan, .elProblema{
    font-size: 2em;
    font-family: Merriweather;
    font-weight: 400;
    color:rgba(89, 89, 89, 1);
    text-align: justify;
    overflow: hidden;
}

.japanEs, .ux, .julio, .uxR, .proto, .ui, .comoToda, .desdeAqui, .aAlgunos, .cambian, .quien, .cliente{
    font-family: Montserrat;
    font-weight: 400;
  font-size: 1.2em;
    line-height: 34px;
   text-align: justify;
  
}
.aAlgunos{
    text-align: left;
}
.quien{
    margin-top: 3.8rem;
    overflow: hidden;

}
.ctnElP{
    background: #FFFFFF;
    box-shadow: 1px 4px 20px -1px rgba(43, 43, 43, 0.3);
border-radius: 10px;
overflow: hidden;
padding-top: 2rem;
padding-bottom: 1rem;
}

.desdeAqui{
    margin-top: 3.8rem;
    overflow: hidden;
}
.japanEs{
    margin-top: 1.5rem;
    overflow: hidden;
}

.tagsJapan{
    margin-top: 1.2rem;
   
}

/*.uxR {
    background: rgba(255, 150, 126, 1);
    width: 10vw;
    border-radius: 25px;
    height: 5vh;
    text-align: center;
}

.proto{
    background: rgba(254, 214, 123, 0.9);
    width: 10vw;
    border-radius: 25px;
    height: 5vh;
    text-align: center;
}

.ui{
    background: rgba(235, 135, 147, 1);
    width: 10vw;
    border-radius: 25px;
    height: 5vh;
    text-align: center;   
}*/
.rolText{
    font-family: Montserrat;
    font-weight: 700;
    line-height: 17px;
    font-size: 1.5em;
    color: #000;
    overflow: hidden;
}
.japanQueen{
    margin-left: 3rem;
    margin-top: 4rem;
    overflow: hidden;
}


@media (min-width: 375px) and (max-width:768px) {
    .desdeAqui{
        margin-top: 0rem;
    }
   
    .japanQueen{
        margin-left: 1rem;
        margin-top: 0rem;
    }
   .ctnJapan{
    margin-top: 9rem;
   }

   .ctnExpJapan, .ctnElProblema{
    margin-left: 0rem;
    margin-top: 0rem;
}

   .textJapan, .experienciaJapan, .elProblema{
    text-align: center;
    font-size: 1.3em;
    margin-left: 1rem;
    margin-top: 1rem;
}
.experienciaJapan{
  
    margin-left: 0rem;
}
.textContJapan{
    
    margin-top: 1rem;
}

.japanEs, .comoToda, .desdeAqui, .aAlgunos, .cambian, .quien, .cliente{
font-size: 1.1em;
}


.rolText{
    font-size: 1.2em;
}

.ux, .julio, .uxR, .proto, .ui{
    font-size: 1.1em; 
}
.uxR, .proto, .ui{
    width: 34vw;
    height: 6vh;
}
}