

/*div{
    border:1px solid red;
}*/
.view{
    background-image: url(../img/puntos.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 84vw;
    margin-top: 6rem;
}

.hola{
    font-family: Merriweather;
    color: #595959;
    font-weight: 600;
    font-size: 3em;
    line-height: 75px;
}
.carla{
    font-weight: 900;
}
.logo{
    margin-left: 4.6rem;
}

.cont{
    width: 4vw;
   
}


.cardTittle{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5em;
    text-align: left;
}
.tags{
display: flex;
justify-content: space-evenly;
}
.cardText{
    font-family: Montserrat;
    font-weight: 400;
  line-height: 23px;
  text-align: left;
}
.tags{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.1em;
    color:rgba(51, 51, 51, 1);
    text-align: center;
   
}
.proyectos, .tePuedo{
    font-family: Merriweather;
    font-weight: 400;
    font-size:1.7em;
    margin-bottom: 3rem;
    color: #595959;
    
}


.imgUni{
    border-radius: 20px 20px 0px 0px;
}
.vivoen, .soyUna{
    font-family:Montserrat;
    font-size:1.5em;
    color:#1a1b1e;
    font-weight: 400;
    line-height: 43px;
}
.textoPresentacion {
    text-align: left;
    margin-top: 0rem;
    
}

.soyUna{
    margin-top: 10%;
}


.retrato{
    margin-top: 0rem;
    margin-left: 5rem;
}
.contTags{
    margin-top: 6rem;
    margin-bottom: 4rem;
}

@media (min-width: 320px) and (max-width:374px){
    .retrato{
        margin-top: 1rem;
    width: 57vw;
   
    margin-right: 8rem;
    }

    .logo{
        width: 14vw;
        margin-left: 1rem;
    }

    .navbar-toggler-icon {
        cursor: pointer;
        width: 9vw;
        height: 4vh;
        background-image: url(../img/burger.png)!important;
    }

    .textoPresentacion {
        text-align: center;
        margin-top: 0rem;
        width: 97vw;
    margin-left: 3.3rem;
    }

    .hola{
        font-size: 1.3em;
        margin-left: 4.1rem;
        margin-top: 1rem;
    }

    .vivoen, .soyUna{
        font-size: 1em;
        margin-left: 3rem ! important;
    }

    

    .tags{
        margin-left: 0rem;
    }
   

    .proyectos, .tePuedo{
       
        font-size: 1.4em;
    margin-top: 2rem;
    }
    .contTags {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .view{
        background-image: url(../img/puntosresponsive.png);
            margin-top: 6rem;

            background-size: 88vw;
    }
}
@media (min-width: 375px) and (max-width:768px) {
    .view{
        background-image: url(../img/puntosresponsive.png);
            margin-top: 6rem;
       
            background-size: 88vw;
    }

    .retrato{
     
    margin-top: 1.5rem;
    width: 57vw;
    margin-right: 7rem;
    }

    .textoPresentacion {
        text-align: center;
   
        width: 97vw;
        margin-left: 3.3rem;
    }

    .hola{
        font-size: 1.5em;
    }

    .vivoen, .soyUna{
        font-size: 1.1em;
        
    }

    .tags{
        margin-left: 0rem;
    }
   

    .proyectos, .tePuedo{
        font-size: 1.5em;
        margin-top: 2rem;
        
    }
    .contTags {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
   .logo{
    margin-left: 1rem;
    width: 14vw;
   }

 .navbar-toggler-icon {
    cursor: pointer;
    width: 9vw;
    height: 4vh;
    background-image: url(../img/burger.png)!important;
}
    
}

@media (min-width:768px) and (max-width:1023px) {
    .logo, .cont {
       display: none;
    }
    .view{
        background-image: url(../img/puntosipad.png);
            margin-top: 6rem;
       
            background-size: 88vw;
    }
    .navbar-expand-md .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        margin-left: 4rem;
    }
   

    .retrato{
        width: 30vw;
        margin-top: 7rem;
    }
    .soyUna{
   display: none;
        
    }
    
    .ctn{
        margin-left: 24rem;
    }

    .textoPresentacion{
        margin-left: 1rem;
    
    }

  .pro{

  }

}
